









.content {
    padding-top: 10px;
    /* Adjust this value based on the height of your fixed header */
    height: calc(100% - 66px);
    /* Adjust this value based on the height of your fixed header */
}

.mat-dialog-container {
    position: absolute;
    top: 10%;
    right: 0;
    height: 60%;
}

.viewport {
    height: 100%;
    /* Adjust height as needed */
    width: 100%;
}