<app-toolbar 
  *ngIf="sessionDetails" 
  [sessionDetails]="sessionDetails" 
  [itemSize]="itemSize"
  (toggleTimestamp)="toggleTimestamp()"
  (openLiveFeedDialog)="openLiveFeedDialog()"
  (performAnnotation)="performAnnotation()">
</app-toolbar>
<div class="content">
  <cdk-virtual-scroll-viewport [itemSize]="itemSize" class="viewport" >
    <ng-container *cdkVirtualFor="let page of feedData$ | async; let pageIndex = index; trackBy: trackByPage">
      <app-feed-page 
        [page]="page" 
        [itemSize]="itemSize" 
        [showTimestamp]="showTimestamp">
      </app-feed-page>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</div>
