.line-text {
    flex-grow: 1;
}
.line {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.line-number {
    width: 50px;
    text-align: right;
    margin-right: 10px;
    color: #555;
}

.timestamp {
    margin-right: 10px;
    color: #999;
}